@charset "UTF-8";

* {
    margin: 0;
}
.container {
    width: 100%;
    margin-right: 250px;
}
.jumbotron {
    width: 100%;
}
.mainBannerSection {
    margin: 0 auto;
    width: 80%;
}
.mainImgBanner {
    display: flex;
}
.imgBannerBox {
    width: 50%;
}
.bigImage {
    width: 100%;
    height: 99%;
    margin-top: 0.5%;
}
.smallImgBannerBox {
    width: 99.5%;
    height: 49.5%;
    display: flex;
}
.smallImage {
    width: 49%;
    height: 99.5%;
    margin: 0.5%;
}
.reviewSection {
    margin: 0 auto;
    width: 80%;
}
.reviewPost {
    display: flex;
    overflow: scroll;
}
.reviewSampleContainer {
    width: 350px;
    height: 250px;
    background: #f8f8f8;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 1%;
    flex-shrink: 0;
    display: flex;
}
.reviewSampleContainer * {
    text-align: left;
}
.reviewPost::-webkit-scrollbar {
    display: none; /* 스크롤바를 완전히 숨김 */
}
.roomSection {
    margin: 0 auto;
    width: 80%;
}
.roomSample {
    height: 380px;
    margin-top: 20px;
    display: flex;
}
.mapSection {
    margin: 0 auto;
    width: 80%;
}
.mapImg {
    width: 100%;
    height: 100%;
}
.mapImg > img {
    width: 100%;
    height: 100%;
}
.addressCopyBtn {
    width: 100%;
    height: 50px;
    border: 1px solid #D5D5D5;
    background: #F8F8F8;
    border-radius: 10px;
}
.optionSection {
    margin: 0 auto;
    width: 80%;
}
.optionBox {
    display: flex;
    flex-wrap: wrap;
}
.optionSample {
    width: 33%;
    height: 25px;
    flex-shrink: 0;
    margin: 1px;
}
.ruleSection {
    margin: 0 auto;
    width: 80%;
}
.accordion {
    width: 80%;
    margin: 0 auto;
}
.accordion-header {
    width: 100%;
    background-color: white;
}
.accordion-button {
    width: 100%;
    background-color: #f8f8f8;
    text-align: left;
    border: none;
}
.cancelRuleSection {
    margin: 0 auto;
    width: 80%;
}
.reviewScore {
    display: flex;
    flex-direction: row;
}
.reviewScore > img {
    width: 30px;
    height: 30px;
}
.reviewBox {
    width: 60%;
    padding: 3%;
    height: 100%;
}
.reviewStar {
    height: 15%;
    color: lightgrey;
}
.reviewStar > img {
    width: 100px;
    height: 20px;
}
.reviewImg {
    width: 40%;
    padding: 3%;
    margin-top: 15%;
    /* flex-direction: center; 는 CSS 속성이 아니므로 제거하거나 적절한 속성으로 대체해야 합니다. */
    text-align: center;
}
.reviewImg > img {
    width: 90%;
    height: 90%;
}
.reviewDesc {
    height: 55%;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reviewRoomInfo {
    height: 15%;
}
.reviewName {
    height: 15%;
    color: black;
}
li {
    margin-top: 5px;
}
.roomSample-Left {
    width: 45%;
    height: 100%;
    padding: 2%;
}
.roomSample-Right {
    width: 55%;
    height: 100%;
    padding: 2%;
}
.roomImg {
    width: 100%;
    height: 80%;
}
.roomImg > img {
    width: 100%;
    height: 100%;
}
.roomCapacity {
    color: #D0D0D0;
}
.roomInfoBox {
    width: 95%;
    height: 75%;
    display: flex;
    padding: 4%;
    border: 1px solid #D5D5D5;
    border-radius: 20px;
}
.roomInfo-Left {
    width: 65%;
    height: 100%;
}
.roomInfo-Right {
    width: 35%;
    height: 100%;
    text-align: right;
}
.bookBtn {
    width: 60%;
    height: 20%;
    border: none;
    border-radius: 15px;
    background: #ff4752;
    color: white;
}
.sideBar {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 250px;
    height: 300px;
    padding: 10px;
    z-index: 30;
    border-radius: 20px;
}
.sidebar.fixed {
    position: fixed;
    right: 0;
    top: 0 !important;
}
.couponBtnSection {
    display: flex;
    height: 15%;
    align-items: center;
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: white;
}
.couponBtnSection > * {
    font-size: 15px;
    align-items: center;
}
.couponBtn {
    margin-left: 15px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #1D8BFF, #6751e8);
    color: white;
    font-size: 13px;
}
.paymentBenefitSection {
    height: 55%;
    padding: 20px;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: white;
}
.paymentBenefitSection > ul {
    padding: 0;
    margin: 0;
}
.paymentBenefitSection > * {
    font-size: 10px;
}
.paymentBenefitHeader {
    display: flex;
    width: 100%;
    height: 10%;
}
.paymentBenefitBtn {
    height: 20px;
    width: 70px;
    margin-left: 50px;
    border: none;
    background: white;
}
.paymentBenefitBtn > h6 {
    font-size: 10px;
    color: #D5D5D5;
}
.paymentBenefitToss {
    display: flex;
    height: 15px;
}
.paymentBenefitToss > img {
    width: 45px;
    height: 15px;
}
.paymentBenefitToss > h6 {
    font-size: 12px;
    align-items: center;
}
ul > li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style-position: inside;
}
.single-item {
    width: 100%;
    height: 30%;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
}
.itemBox {
    display: flex;
    padding: 10px;
    align-items: center;
}
.item-left {
    width: 50%;
}
.item-left > * {
    font-size: 10px;
}
.item-right {
    margin-left: 15px;
    width: 40%;
}
.item-right > img {
    width: 70%;
}
.slick-dots li button::before {
    color: #D5D5D5;
    opacity: 1;
}
.slick-dots li.slick-active button::before {
    color: #1D8BFF;
    opacity: 1;
}
.bookingBar {
    position: fixed;
    top: 50%;
    right: 3%;
    width: 320px;
    height: 400px;
    padding: 15px;
    z-index: 30;
    border: 1px solid #f8f8f8;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.right-align-text {
    text-align: right;
}
.bookingBar * {
    font-size: 13px;
}
/* 북킹 css */
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 35%;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="text"][readonly],
.form-group select {
    height: 37px;
    margin-left: auto;
}
.input-wrapper input,
.input-wrapper select {
    border: none;
    padding: 10px;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
}
.input-wrapper.date-picker {
    display: flex;
    border: none;
    background-color: transparent;
}
.input-wrapper.date-picker input {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    width: auto;
    flex-grow: 1;
}
.input-wrapper.date-picker span {
    color: #888;
}
.select-wrapper {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 60%;
    margin-left: auto;
}
.select-wrapper select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}
.right-aligned-text {
    text-align: right;
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}
.form-group {
    align-items: center;
    margin: 0;
    height: 50px;
    display: flex;
    margin-bottom: 0 !important;
}
.paymentBtnContainer {
    width: 100%;
}
.paymentBtn {
    border: none;
    margin-left: 220px;
    width: 70px;
    height: 30px;
    background: #FF4752;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}
.date-labels-group > * {
    margin-left: 70px;
}
.date-range-group > * {
    margin-left: 10px;
}
#price {
    border: none;
    background: white;
    text-align: right;
}
.reviewBtn,
.reviewBtn:hover,
.reviewBtn:focus,
.reviewBtn:active {
    background: none !important;
    border: none !important;
    outline: none !important;
}
.reviewBtn:checked {
    background: none;
    border: none;
}
.modal-img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}