@charset "UTF-8";

* {
    margin: 0;
}

.container {
	padding: 0 !important;
    width: 1100px !important;
    margin-right: 250px;
}
.container>*{
	margin-left:15px !important;
}
.jumbotron {
    width: 100%;
}
.mainBannerSection {
    margin: 0;
    width: 80%;
}
.mainBannerNameSection{
	margin-bottom:15px;
	display:flex;
	justify-content:space-between;
	align-items: baseline;
}
.mainImgBanner {
    display: flex;
}
.bannerPrice{
	display: flex;
	align-items: baseline;
	
}
.bannerPrice > *{
	
	font-size: 20px;
}
.imgBannerBox {
    width: 50%;
}
.mainBannerGHName{
	font-size: 20px;
}
.bigImage {
    width: 99%;
    	height: 400px;
    margin-top: 1%;
    margin-left:0.37%;
}
.smallImgBannerBox {
    width: 99.5%;
    height: 49.5%;
    display: flex;
	margin-top:0.5%;
}
.smallImage {
    width: 49%;
    height: 99%;
    margin: 0.5%;
}
.smallImage>img{
	width:100%;
	height: 280px;
}
.reviewSection {
    margin: 0;
    width: 80%;
}
.reviewPost {
	margin-top: 5px;
    display: flex;
    overflow: scroll;
}
.reviewSampleContainer {
    width: 300px;
    height: 180px;
    background: #f8f8f8;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 1%;
    flex-shrink: 0;
    display: flex;
}
.reviewSampleContainer * {
    text-align: left;
}
.reviewPost::-webkit-scrollbar {
    display: none; /* 스크롤바를 완전히 숨김 */
}
.roomSection {
    margin-left: 4%;
    width: 80%;
}
#roomPrice{
	margin-top: 20px;
}
.roomSection h6{
	font-size: 12px;
	
}
.roomSample {
    height: 300px;
    margin-top: 20px;
    display: flex;
}
.mapSection {
    margin: 0;
    width: 80%;
}
.mapImg {
    width: 100%;
    height: 100%;
}
.mapImg > img {
    width: 100%;
    height: 100%;
}
.mapSection h6{
	font-size: 15px;
	
}
.addressCopyBtn {
    width: 100%;
    height: 50px;
    border: 1px solid #D5D5D5;
    background: #F8F8F8;
    border-radius: 10px;
    font-size: 15px;
}
.optionSection {
    margin: 0;
    width: 80%;
}
.optionBox {
    display: flex;
    flex-wrap: wrap;
}
.optionSample {
    width: 33%;
    height: 25px;
    flex-shrink: 0;
    margin: 1px;
}
.ruleSection {
    margin: 0;
    width: 80%;
    margin-bottom:30px;
}
.ruleInfo li{
	font-size: 15px;
	
}
.accordion {
    width: 80%;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.accordion-header {
    width: 100%;
    background-color: white;
}
.accordion-body>h6{
	font-size: 15px;
	margin-left: 20px;
	margin-top: 10px;
}
.accordion-button {
    width: 100%;
    text-align: left;
    backGround-color: white;
    border: none;
}
.cancelRuleSection {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 80%;
}
.cancelRuleSection li{
	font-size: 15px;
}
.reviewScore {
    display: flex;
    flex-direction: row;
    align-items:baseline;
}
.reviewScore > i {
    color: gold;
}
.reviewScore>b{
	font-size: 17px;
	
}
.reviewBox {
    width: 60%;
    padding: 3%;
    height: 100%;
    
}
.reviewBox *{
	font-size: 12px;
}
.reviewStar {
	margin-top: 2px;
    height: 16%;
    color: lightgrey;
}
.reviewStar > i {
    color: gold;
}
.reviewImg {
    width: 40%;
    height:60%;
    padding: 3%;
    margin-top: 10%;
    text-align: center;
}
.reviewImg > img {
    width: 100%;
    height:100%;
}
.reviewDesc {
    height: 54%;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
	text-overflow: hidden;
	margin-top: 2px;
}
.reviewRoomInfo {
	margin-top: 5px;
    height: 15%;
    color: #d5d5d5;
}
.reviewName {
    height: 15%;
    color: black;
}
li {
    margin-top: 5px;
}
.roomSample-Left {
    width: 30%;
    height: 100%;
}
.roomSample-Right {
	margin-left: 40px;
    width: 55%;
    height: 100%;

}
.roomImg {
    width: 100%;
    height: 75%;
    border-radius: 20px;
}
.roomName {
	margin-top:10px;
	font-size:20px;
}
.roomImg > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.roomCapacity {
    color: #D0D0D0;
}
.roomInfoBox {
    width: 100%;
    height: 75%;
    display: flex;
    padding: 4%;
    border: 1px solid #D5D5D5;
    border-radius: 20px;
}
.roomInfo-Left {
    width: 65%;
    height: 100%;
}
.roomInfo-Left>*{
	margin-top:10px;
}
.roomInfo-Right {
    width: 35%;
    height: 70%;
    text-align: right;
}
.roomInfo-Right>*{
	margin-top:5px;
}
.optionSample{
	margin-top:15px;
	font-size: 15px;
}
.bookBtn {
    width: 60%;
    height: 20%;
    border: none;
    border-radius: 15px;
    background: #ff4752;
    color: white;
}
.sideBar {
    position: fixed;
    top: 12%;
    right: 12%;
    width: 250px;
    height: 300px;
    padding: 10px;
    z-index: 30;
    border-radius: 20px;
}
.sidebar.fixed {
    position: fixed;
    right: 0;
    top: 0 !important;
}
.couponBtnSection {
    display: flex;
    justify-content:space-between;
    height: 15%;
    align-items: baseline;
    padding: 6px;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: white;
}
.couponBtnSection > * {
    font-size: 15px;
    align-items: baseline;
}
.coupon-left {
	margin-left: 10px;
	
}
.coupon-left *{
	display:inline;
}
.couponBtn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #1D8BFF, #6751e8);
    color: white;
    font-size: 13px;
}
.paymentBenefitSection {
    height: 55%;
    padding: 15px;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: white;
}
.paymentBenefitSection > ul {
    padding: 0;
    margin: 0;
}
.paymentBenefitSection > * {
    font-size: 10px;
}
.paymentBenefitHeader {
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 10%;
}
.paymentBenefitBtn {
    height: 20px;
    width: 50px;
    border: none;
    background: white;
}
.paymentBenefitBtn > h6 {
    font-size: 10px;
    color: #D5D5D5;
}
.paymentBenefitToss {
    display: flex;
    height: 15px;
}
.paymentBenefitToss > img {
    width: 45px;
    height: 15px;
}
.paymentBenefitToss > h6 {
    font-size: 12px;
    align-items: center;
}
ul > li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style-position: inside;
}
.single-item {
    width: 100%;
    height: 30%;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
}
.itemBox {
    display: flex;
    padding: 15px;
    align-items: center;
}
.item-left {
    width: 50%;
}
.item-left > * {
    font-size: 10px;
}
.item-right {
    margin-left: 20px;
    width: 45%;
}
.item-right > img {
    width: 70%;
}
.slick-dots li button::before {
    color: #D5D5D5;
    opacity: 1;
}
.slick-dots li.slick-active button::before {
    color: #1D8BFF;
    opacity: 1;
}
.bookingBar {
    position: fixed;
    top: 53%;
    right: 11%;
    width: 274px;
    height: 390px;
    padding: 20px;
    z-index: 30;
    border: 1px solid #d5d5d5;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.right-align-text {
    text-align: right;
}
.bookingBar * {
    font-size: 13px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 35%;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="text"][readonly],
.form-group select {
    height: 37px;
    margin-left: auto;
}
.input-wrapper input,
.input-wrapper select {
    border: none;
    padding: 10px;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
}
.input-wrapper.date-picker {
    display: flex;
    border: none;
    background-color: transparent;
}
.input-wrapper.date-picker input {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    width: auto;
    flex-grow: 1;
}
.input-wrapper.date-picker span {
    color: #888;
}
.select-wrapper {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 60%;
    margin-left: auto;
}
.select-wrapper select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}
.right-aligned-text {
    text-align: right;
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}
.form-group {
   
    margin: 0;
    margin-top:12px;
    height: 39px;
    display: flex;
    margin-bottom: 0 !important;
    align-items: baseline;
}
.paymentBtnContainer {
    width: 100%;
}
.paymentBtn {
    border: none;
    width: 70px;
    height: 30px;
    margin-left:auto;
    background: #FF4752;
    color: white;
    border-radius: 10px;
}
.date-group{
	margin-top: 12px;
}
.date-labels-group{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.date-range-group{
	width:100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#price {
    border: none;
    background: white;
    text-align: right;
}
.reviewBtn,
.reviewBtn:hover,
.reviewBtn:focus,
.reviewBtn:active {
    background: none !important;
    border: none !important;
    outline: none !important;
    padding:0 !important;
    margin-right: 30px;
}
.reviewBtn:checked {
    background: none;
    border: none;
}
.modal-img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}
.favorite-btn {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 32px;
	color: #aaa;
}

.favorite-btn.active i {
	color: gold;
}

.favorite-btn:focus {
	outline: none;
}