@charset "UTF-8";

/* 전체 공통 스타일  */
.section-container {
	background-color: #F8F8F8;

	display: flex;
	flex-direction: column;
}

.section-container h5 {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	
	font-weight: bold;
}

.section-component {
	background-color: white;
	
	width: 1000px;
	
	border: 1px solid white;
	border-radius: 16px;
	
	margin: 20px auto;
	padding: 20px;
}

.component-header {
	display: flex;
	justify-content: space-between;
}

.component-header h3 {
	margin: 10px;
}

/* 내 정보 입력 칸 */
.info-component {
	margin: 15px 30px 30px 30px;
	
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    
    background-color: white;
    color: #808080;
}

.info-group {
	display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
}

.info-group > input {
	background-color: #F8F8F8;
	
	height: 40px;
	
	border: 0px; 
	border-radius: 8px;
	
	padding-left: 15px;
}

#btn-info {
	width: 75px;
	height: 30px;
	
	float: right;
	
	border: 1px solid #FF4752;
	background-color: #fff;
	color: #FF4752;
	
	padding: 0px;
}

/* 게스트하우스 관리 관련 칸 */
.management-contanier {
	margin: 10px 30px;
	
	display: flex;
	justify-content: space-between;
}

.management-gh {
	display: flex;
	flex-direction: column;
	
	border: 1px solid #D5D5D5;
	border-radius: 8px;
	
	background-color: white;
	
	padding: 20px;
}

.management-gh img {
	width: 250px;
	height: 250px;
	
	border-radius: 8px;
	
	margin: 0px auto;
}

.management-gh > h5 {
	padding: 0px;
	padding-top: 10px;
}

.management-gh button {
	width: 70px;
	height: auto;
	
	float: right;
	
	border: 1px solid #FF4752;
	background-color: white;
	color: #FF4752;
}

/* 매출 관련 칸 */
.income-container {
	width: 1000px;
	
	margin: 20px auto;
	
	display: flex;
	justify-content: space-between;
}

.income-item {
	height: 250px;
	
	background-color: white;
	border: 1px solid white;
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly
}

.income-item:nth-child(1) {
	 width: 28%;
}

.income-item:nth-child(2) {
	 width: 40%;
}

.income-item:nth-child(3) {
	 width: 28%;
}

.income-item h5 {
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	padding: 0px;
}

.income-item a {
	color: black;
	font-weight: bold;
	
	float: right;
	
	margin-right: 20px;
	margin-bottom: 10px;
}

.income-component {
	background-color: #F8F8F8;
	
	border: 1px solid #F8F8F8;
	border-radius: 8px;
	
	display: flex;
	justify-content: space-between;
	
	margin: 0px 20px;
	padding: 10px;
}

#income-today {
	margin: 10px 30px;
}

#income-expect {
	margin: 10px 30px;
}

/* 차트 관련 스타일 */
.chart-contanier {
	width: 1000px;
	
	margin: 20px auto;
	
	display: flex;	
	flex-direction: column;	
	justify-content: space-between;
}

.chart-row {
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 25px;
}

.chart-item {
	width: 48%;
	
	background-color: white;
	
	border: 1px solid white;
	border-radius: 8px;
	
	margin-bottom: 20px;
	padding: 20px;
	
	display: flex;
	flex-direction: column;
}

.chart-item > h5 {
	/* margin: 10px 0px 10px 10px; */
}

.chart {
	margin-top: 30px;
	margin-bottom: 40px;
}